<div class="w3-padding">
    <div class="w3-card-4" style="padding-bottom:10px">
        <div class="w3-container w3-theme-l2 w3-center">
            <h3>Profil Dokter</h3>
        </div>
        <p></p>
        <div class="w3-container w3-theme-l4">
            <label for=""><strong>Nama Lengkap: </strong></label>
            <div id="doc-nama-lengkap">{{.NamaLengkap}}</div>
            <label for=""><strong>Tanggal Lahir: </strong></label>
            {{if istimezero .TanggalLahir}}
            <div id="doc-tanggal-lahir"></div>
            {{else}}
            <div id="doc-tanggal-lahir">{{strtglhari .TanggalLahir}}</div>
            <span id="html-doc-tgl-lahir" hidden>{{htmltgl .TanggalLahir}}</span>
            {{end}}
            <label for=""><strong>NIP/NPP: </strong></label>
            {{if .NIP}}
            <div id="doc-nip-npp">{{.NIP}}</div>
            {{else}}
            <div id="doc-nip-npp">{{.NPP}}</div>
            {{end}}
            <label for=""><strong>Golongan: </strong></label>
            <div id="doc-golongan">{{.GolonganPNS}}</div>
            <label for=""><strong>Tempat Tugas: </strong></label>
            <div id="doc-tempat-tugas">{{.Bagian}}</div>
            <p></p>
            <button type="submit" id="ubah-data-dokter" data-link="{{.LinkID}}" data-linkpar="{{.Umur}}" class="w3-button w3-round w3-right w3-blue">Ubah Data</button>
            <p></p>
        </div>
        
    </div>
</div>

