<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IGD Sanglah</title>
    <link rel="stylesheet" href="stylesheets/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <script src="//cdn.jsdelivr.net/npm/mobile-detect@1.4.1/mobile-detect.min.js"></script>
    <script src="scripts/baca-barcode.js"></script>
    <script src="scripts/main-page.js"></script>
    <script src="scripts/pasien.js"></script>
    <script src="scripts/bcp.js"></script>
    <script src="scripts/admin.js"></script>
    <script src="scripts/dokter.js"></script>
    <script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
    <link rel="stylesheet" href="stylesheets/main-page-style.css">
</head>
<body class="w3-theme-l4">
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-theme-d1" style="display:none" id="my-sidebar">
        <a href="#" class="w3-bar-item w3-button w3-large" onclick="closeSideBar()">Close <i class="fa fa-times" aria-hidden="true"></i></a>
        <a href="#" class="w3-bar-item w3-button" onclick="pageHome();closeSideBar()">Home</a>
        <a href="#" class="w3-bar-item w3-button" id="list-bcp-button" onclick="openBCP('list-bcp')">BCP</a>
        <div class="w3-container w3-hide" id="list-bcp">
            <a href="#" data-link="" class="w3-block w3-button w3-left-align w3-theme-d1" onclick="getBCPBulanIni();closeSideBar()">Bulan Ini</a>
            {{with .Kursor}}
                {{range .}}
                    <a href="#" data-link="{{.Point}}" class="w3-block w3-button w3-left-align w3-theme-d1" onclick="getBCPBulan.call(this);closeSideBar()">{{.Link}}</a>
                {{end}}
            {{end}}
        </div>
        {{if eq .Peran "admin"}}
        <a href="#" class="w3-bar-item w3-button" onclick="getAdminPage();closeSideBar()">Tambah Staf</a>
        {{end}}
    </div>
    <div id="main">
            <div id="email" hidden>{{.Email}}</div>
            <div class="w3-container w3-hide-small w3-hide-medium w3-bar w3-large w3-theme-d4">
                    <a href="#" class="w3-bar-item w3-button" id="open-sidebar" onclick="openSideBar()"><i class="fa fa-bars"></i></a>
                    <span class="w3-bar-item">IGDSanglah.com</span>
                    <a href="{{.LogOut}}" class="w3-bar-item w3-button w3-right"><i class="fa fa-sign-out"> Logout</i></a>
                    <span class="w3-bar-item w3-right">Selamat datang, <a href="#" id="nama-dokter" onclick="openDocProfile()">{{.UserName}}</a></span>
            </div>
            <div class="w3-container w3-hide-large w3-bar w3-large w3-theme-d4">
                    <a href="#" class="w3-bar-item w3-button" onclick="openMobileSideBar()"><i class="fa fa-bars"></i></a>
                    <span class="w3-bar-item">IGDSanglah.com</span>
            </div>
            <div class="w3-container w3-hide-large w3-center">
                <p>Selamat datang, <a href="#" id="nama-dokter" onclick="openDocProfile()">{{.UserName}}</a></p>
                <a href="{{.LogOut}}" class="w3-button w3-round-small w3-blue">Logout</a>
            </div>
            <br>
            <div id="main-content">
                {{template "front-content" .}}
            </div>
            
            
    </div>
    <div id="server-response" hidden></div>
    <div class="w3-modal" id="loading-animation">
        <div class="w3-modal-content">
            <div class="w3-container">
                <div id="loader"></div>
            </div>
        </div>
    </div>
    <div id="modal01" class="w3-modal">
        <div class="w3-modal-content">
            <header class="w3-container w3-teal w3-center">
                <h3 id="modal01-title-header"></h3>
            </header>
            <div class="w3-container w3-center">
                <p id="modal01-content"></p>
                <div id="modal01-content-02"></div>
            </div>
            <br>
            <footer class="w3-container w3-padding-small w3-teal" id="footer-modal-01">
                <!-- <div class="w3-bar w3-right"> -->
                    <button class="w3-button w3-round w3-aqua w3-left" onclick="document.getElementById('modal01').style.display='none'" id="modal01-tombol-tutup">Tutup</button>
                    <button class="w3-button w3-round w3-aqua w3-right" id="modal01-tombol-tambahan" data-link="" data-index="" data-kursor="" data-tanggal="" onclick="document.getElementById('modal01').style.display='none'" style="display:none">Hapus</button>
                <!-- </div> -->
            </footer>
        </div>
    </div>
</body>
</html>