<p></p>
<div class="w3-container w3-gray w3-round">
    <p>Nama Dagang : {{.Obat.MerkDagang}}</p>
    <p>Kandungan: {{.Obat.Kandungan}}</p>
    <p>Sediaan: {{ubahsediaan .Obat.SediaanObat}}
    {{if .Obat.Takaran}}
    ({{.Obat.JmlPerTakaran}}/{{.Obat.Takaran}})
    {{else}}
    ({{.Obat.JmlPerTakaran}})</p>
    {{end}}
    {{if .Dewasa}}
    <p>Saran Pemberian: {{.Obat.Keterangan}}</p>
    {{else if .MaxDoseFinal}}
    <p>Dosis Per kg/BB/Pemberian : {{.Obat.MinDose}} - {{.Obat.MaxDose}}</p>
    <p>Saran Pemberian: {{.MinDoseFinal}} - {{.MaxDoseFinal}}</p>
    <p>Keterangan: {{.Obat.Keterangan}}</p>
    {{else}}
    <p>Dosis Per kg/BB/Pemberian : {{.Obat.MinDose}}</p>
    <p>Saran Pemberian: {{.MinDoseFinal}}</p>
    <p>Keterangan: {{.Obat.Keterangan}}</p>
    {{end}}
    <button class="w3-button w3-round w3-green w3-right" data-link="{{.Obat.LinkID}}" onclick="editObat.call(this)">Edit Obat</button>
    <div class="w3-container">
        <p></p>
    </div>
    
</div>